@model IEnumerable<NOTES_HDIP.Models.CommunityPost>



@{
    ViewData["Title"] = "Index";
}

<h1>Community Posts</h1>



<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="Search Posts" value="@ViewData["GetCommunityPosts"]" name="id" />
        <input type="submit" value="search" class="btn btn-primary" />

    </p>
    <a asp-action="Index">Return All</a>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model) Time Created
            </th>
            
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.TimeCreated)
            </td>
            
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Read Post</a>

                   
                
                    @if (item.UserID == User.Claims.ToList()[0].Value)
                    {

                        <tag> | </tag>

                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                        <tag> | </tag>

                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>


