@model IEnumerable<NOTES_HDIP.Models.CommunityComment>

@{
    ViewData["Title"] = "Index";
}

<h1><b>Comments</b></h1>

<p>
    <a class="btn btn-success" asp-action="Create">Add Comment</a>
</p>

<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="Search Comments" value="@ViewData["GetComments"]" name="word" />
        <input type="submit" value="Search" class="btn btn-info" />

    </p>
    <a class="btn btn-outline-info" asp-action="Index">Return All</a>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            
            <td>
                @if (item.UserID == User.Claims.ToList()[0].Value)
                    {

                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        <tag> | </tag>
                        <!--<a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">View Comment</a>-->
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    }
            </td>
        </tr>
}
    </tbody>
</table>
